# PocketBase CMS URL
VITE_POCKETBASE_URL=http://192.168.178.136:8090

# Strapi CMS URL
VITE_STRAPI_URL=http://localhost:1337

# Optional Strapi API Token (Falls Authentifizierung für API-Endpoints aktiv ist)
VITE_STRAPI_TOKEN=

